@model CAPATHON.Models.ViewModels.UserProfileViewModel

@{
    ViewData["Title"] = Model.Email;
}

@if (string.IsNullOrEmpty(Model.Client_Obj.FirstName) || string.IsNullOrEmpty(Model.Client_Obj.LastName)) {
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-4xl font-bold text-center mb-8">Hello, @Model.Name</h1>
        <hr>
        <h3>Email: @Model.Email</h3>
        <h3>User ID: @Model.UserId</h3>
        <h3>Add your details to profile below</h3>
    </div>
}
else {
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-4xl font-bold text-center mb-8">Hello, @Model.Client_Obj.FirstName @Model.Client_Obj.LastName</h1>
        <hr>
        <h3>Email: @Model.Email</h3>
        <h3>User ID: @Model.UserId</h3>
        <h3>Phone Number: @Model.Client_Obj.Phone</h3>
    </div>
}

<!-- Dependents Table -->
<h3><strong>Dependents</strong></h3><br>
@if (Model.client_dependents.Count > 0)
{
    <div class="table-responsive text-center">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dependent in Model.client_dependents)
                {
                    <tr>
                        <td>@dependent.FirstName</td>
                        <td>@dependent.LastName</td>
                        <td>
                            <a href="@Url.Action("EditDependent", new { id = dependent.Id })" class="btn btn-warning">Edit</a>
                        </td>
                        <td>
                            <a href="@Url.Action("DeleteDependent", new { id = dependent.Id })" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}


<!--Button Links-->
<a href="/Account/Edit" class="btn btn-danger text-white font-bold py-2 px-4 mt-4">
    Edit User Details
</a>

<a href="/Account/AddDependent" class="btn btn-danger text-white font-bold py-2 px-4 mt-4">
    Add Dependent
</a>

<a href="/Session/SelectBusiness" class="btn btn-danger text-white font-bold py-2 px-4 mt-4">
    Session Sign Up
</a>